<h1>New task</h1>

<%= render "form", task: @task %>

<br>
<div class="row">
<div class="text-center col-md-2 offset-md-2">
  <%= link_to "Back to tasks", tasks_path, class: "btn btn-outline-success" %>
</div>
</div>